# IV. Database

Indice

### Import Libraries and PyPower.py

In [12]:
import pandas as pd
from sys import displayhook
import sys
sys.path.append('../Python')
from  PyPower import *

### DataFrame analysis

In [13]:
data  = pd.read_csv('../../data/2-processed/data.csv')
original_shape= data.shape
data.head()

,order_id,created_datetime,brand,location,channel,status,type,total,payment_method,delivery_cost,discount,tip,driver_tip,subtotal,vat
0,AULRBGNM,2023-11-03 14:46:46,Tepuy Burger,Tepuy Burger - Rodolfo Salazar,glovo,DELIVERED,DELIVERY,26.9,CARD,0.0,0.0,0.0,0.0,26.9,0.0
1,B1YBHZJW,2023-11-03 14:40:15,Tepuy Burger,Tepuy Burger - Benidorm,glovo,DELIVERED,DELIVERY,51.5,CARD,0.0,0.0,0.0,0.0,51.5,0.0
2,ALMVLKTB,2023-11-03 14:23:06,Tepuy Burger,Tepuy Burger - Rodolfo Salazar,glovo,DELIVERED,DELIVERY,26.9,CARD,0.0,0.0,0.0,0.0,26.9,0.0
3,BXVJAQHE,2023-11-02 22:32:27,Tepuy Burger,Tepuy Burger - Benidorm,glovo,DELIVERED,DELIVERY,40.9,CARD,0.0,0.0,0.0,0.0,40.9,0.0
4,ABUGGFKZ,2023-11-02 22:28:20,Tepuy Burger,Tepuy Burger - Calle Bazan,glovo,CANCELED,DELIVERY,20.4,CARD,0.0,0.0,0.0,0.0,20.4,0.0

In [14]:
#Codigo para llenar film_id a old_HDD comparando con Title

#old_HDD = old_HDD.apply(sc.fill_column, df_to_compare=film, column_to_compare='title', column_to_change='film_id', axis=1)

### New tables

#### Brand table

In [32]:
def new_table1(df_from, column_to_check, create_id, id_column_name, column_name,  id_list=[]):

    """
    
    
    """
    #Read the values of the column_to_check
    dd=[]

    for e in df_from[column_to_check]:
        if e not in dd:
            dd.append(e)
    

    print(dd)

    #If create_id then create a list of consecutive values for the id
    if create_id:
        ids=[]

        for e in range(len(dd)):
            ids.append(str(e))

    elif not create_id:
        ids= id_list

    #Create a dictionary with both lists
    dict_temp= {id_column_name: ids, column_name: dd}

    return pd.DataFrame(dict_temp)

In [33]:
brands = new_table1(data, 'brand', True, 'brand_id','brand')

['Tepuy Burger']

In [34]:
brands

  brand_id         brand
0        0  Tepuy Burger